/* Mobile specific styles */
@media (max-width: 767px) {
  .popup-content.portrait .webcam {
    transform: rotate(0deg); /* Portrait mode: no rotation */
  }

  .popup-content.landscape .webcam {
    transform: rotate(-90deg); /* Landscape mode: rotate -90 degrees */
  }

  .camera-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    overflow: hidden;
  }
  
  .popup-content {
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
  }
  
  video {
    transform: scale(0.5);
    z-index: -1;
  }
  
  .fullscreen-image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: rotate(180deg) rotateX(180deg);
  }

  .watermark-camera {
    z-index: 9999999999999999999;
    display: flex;
    flex-direction: column; // Use column direction for stacking items vertically
    justify-content: space-between; // Center items horizontally
    align-items: center;     // Center items vertically
    gap: 1rem;               // Space between items
    padding: 5rem;
    position: relative;      // Ensure positioning context for children if needed
    width: 100%;             // Ensure the container takes full width
    height: 100%;       
    // background-color: aqua;

    .user-camera-serlfie {
      flex: 1; // Make each box take equal width
      max-width: 150%; // Ensure the boxes are responsive within the container
      display: flex;
      justify-content: end;
      align-items: center;
      transform: rotate(90deg);
      // background-color: #000000;
      right: 0;
      margin-right: 1rem;
      img {
        width: 150%;        // Make images fill the container width
        height: auto;       // Maintain aspect ratio of images
        max-height: 100%;   // Ensure images do not exceed the box height
        // background-color: salmon;
      }
    }
  
    .box-idcard {
      flex: 1;               // Allow each box to grow and shrink as needed
      max-width: 100%;       // Ensure the boxes do not exceed the container width
      max-height: 100%;      // Ensure the boxes do not exceed the container height
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(90deg);
      // background-color: aliceblue;
      // overflow: hidden;     // Hide any overflow inside the boxes
      img {
        width: 100%;        // Make images fill the container width
        height: auto;       // Maintain aspect ratio of images
        max-height: 100%;   // Ensure images do not exceed the box height
      }
    }
  }

  .controls {
    // background-color: rgba($color: #fff, $alpha: 0.5);
    position: absolute;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    bottom: 0;
    display: flex;
    z-index: 99999999999;
    
    .before-capture {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 10px;
      button {
        width: 70px;
        height: 70px;
        background-color: rgba($color: #000000, $alpha: 0.7);
        border: none;
        transform: rotate(90deg);
  
        i {
          color: white;
          font-size: 30px;
        }
      }
    }
    .after-capture {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 10px;
      button {
        width: 70px;
        height: 70px;
        background-color: rgba($color: #000000, $alpha: 0.7);
        border: none;
        transform: rotate(90deg);
  
        i {
          color: white;
          font-size: 30px;
        }
      }
    }
  }
}

/* Default styles for larger screens (desktop) */
@media (min-width: 768px) {
  .camera-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    overflow: hidden;
  }
}

.controls {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  z-index: 99999999999;
}
