.camera-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  overflow: hidden;
}

.popup-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  &.portrait .webcam {
    transform: none; /* No rotation for portrait mode */
    width: 100%;
    height: auto;
  }

  &.landscape .webcam {
    transform: rotate(-90deg); /* Rotate video for landscape mode */
    transform-origin: center;
    width: 100vh; /* Adjust width to match viewport height */
    height: 100vw; /* Adjust height to match viewport width */
  }
}

.webcam {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.captured-image {
  width: 100%;
  height: auto;
  max-height: 80%;
  border-radius: 10px;
}

.controls {
  margin-top: 20px;
  display: flex;
  gap: 10px;

  .btn {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;

    &.btn-primary {
      background-color: #007bff;
    }

    &.btn-secondary {
      background-color: #6c757d;
    }

    &.btn-danger {
      background-color: #dc3545;
    }
  }
}
